.fs-7 {
    font-size: 13px;
}

.fs-8 {
    font-size: 11px;
}

.mt-n3 {
    margin-top: -1.85em;
}

.mb-n3 {
    margin-bottom: -1.85em;
}

.card {
    transform: scale(1.1); /* Add a scaling effect */
    transition: all 0.3s ease-in-out; /* Specify the transition */
}
